* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
}

:root {
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

main {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--Slate-300);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 18rem;
  height: 18rem;
  border-radius: 10px;
}
.qr-code-container {
  width: 20rem;
  height: 31rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem 2.5rem 1rem;
  gap: 1rem;
  box-shadow: 0px 25px 25px 0 rgb(0 0 0 /0.05);
}

.qr-code-content {
  width: 18rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1rem;
}

h1 {
  font-size: 22px;
  color: var(--Slate-900);
}

p {
  font-size: 15px;
  color: var(--Slate-500);
}

.attribution {
  position: absolute;
  bottom: 0px;
  padding: 25px 0px;
}
